<% include head.ejs %>

<header>

</header>

<body>

	<main>

		<section>

			<h2>EreDate</h2>

			<p>Welkom op deze datingapp om andere voetbal supporters 
			te ontmoeten van je eigen Eredivisie club</p>

			<a class="default color_blue" href="/login">Login</a>
			<a class="default color_red" href="/sign-up">Aanmelden</a>

		</section>

	</main>

</body>

<% include tail.ejs %>