<% include head.ejs %>

<header>

	<a href="/">Terug</a>

</header>

<body>

<main>

		<section>

			<h1>PAGINA NIET GEVONDEN</h1>
			<p>Deze tribune is helaas gesloten, probeer een andere.</p>

		</section>

	</main>

</body>

<% include tail.ejs %>